.container {
  min-height: 100vh;
  width: 100%;
  background: whitesmoke;
}

.products {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  z-index: 1;
  padding-right: 2px;
  padding-left: 2px;
  margin-bottom: 11px;
}
